.login-section input{
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
}
body{
    display: flex;
    justify-content: center;
    background-color: rgb(109,154,196);

}
.login-section{
    height: 400px;
    width: 350px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    background-color: white;
    margin-top: 100px;
}
.login-btn{
    width: 250px;
    height: 35px;
    border-radius:5px;
    text-transform: uppercase;
    background-color: rgb(238,86,132);
    color: white;
    margin-top: 30px;
    font-weight: 500;
    border: none;
}
.login-section a{
    font-weight: 600;
}
.login-section h4, a{
    color: rgb(83, 82, 82);
    margin-top: 50px
}
